@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  font-family: 'Urbanist', sans-serif;
}

h1{
  font-weight: 900;
}

h2{
  font-weight: 700;
}

h3,p{
  font-weight: 400;
}

.chatbot-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
  border-radius: 100px !important;
}

.leaflet-container {
  width: 100vh; 
  height: 100vh;
}
  .logo{
   display: block;
   position: absolute;
   font-size: x-large;
   padding-right: 12px;
 } 

 .sticker{
  position: sticky;
  top: 0px;

}

.white-text{
  color: white;
}
