
*{
  margin: 0px;
  padding: 0px;
}



.chatbot-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
  border-radius: 100px !important;
}

<<<<<<< HEAD
.leaflet-container {
  width: 100vh; 
  height: 100vh;
}
=======
  .logo{
   display: block;
   position: absolute;
   font-size: x-large;
   padding-right: 12px;
 } 
 .px-2{
  padding-left: 0px;
  padding-right: 0px;
 }
>>>>>>> 7baf496ccf75c951e8efce0f8255f860cd26ae33
