.chatbot-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
  border-radius: 100px !important;
}

 /* .logo{
   display: block;
   position: absolute;
   font-size: x-large;
   padding-right: 12px;
 } */